# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

# OS files
.DS_Store
Thumbs.db

# Data files (optional, if too large)
data/*.csv

# Logs
*.log